

/* body style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.headr{
    background-image: url("/images/developer.png"),url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
}

/* shared style */

.bg-style{
    background-color: #FFF8F3;
}
.dark-1{
    color:#181818;
}
.dark-2{
    color:#474747;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-weight: bold;
    font-size: 20px;
}

/* nav style */
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size:45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
}

/* banner section */
.banner{
    display: flex;
}
.banner-conten{
    width: 585px;
    max-height: 386px;
    margin-left: 230px;
}
.banner-greetting{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size:70px;
}